#!/usr/bin/env bash

export AWS_PROFILE=
export S3_BUCKET=
export AWS_REGION=ap-southeast-1
export AVALIABILITY_ZONE=ap-southeast-1c
export WORKSTATION_KEY=
export WORKER_KEYPAIR=
export WORKSTATION_AMI=ami-05b3bcf7f311194b3
